<div id="<%= dom_id live_stream %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= live_stream.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Url:</strong>
    <%= live_stream.url %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this live stream", live_stream, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this live stream', edit_live_stream_path(live_stream), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
