<div class=" w-1/5 h-full max-h-screen overflow-y-auto flex flex-col gap flex-grow relative">
  <div id="messages"
    class="flex-grow flex flex-col gap-8 p-4 pb-36">
    <%= render @live_stream.messages %>
  </div>
  <div class="h-24 bg-gray-100 fixed w-1/5 bottom-0 right-0 p-4">
    <%= turbo_stream_from @live_stream %>
    <%= form_with(model: [@live_stream, @live_stream.messages.build]) do |form| %>
      <%= form.text_field :body, class: "border border-gray" %>
      <%= form.button %>
    <% end %>
  </div>
</div>