<main class=" flex flex-row h-screen">
  <%= render 'recommended_live_streams' %>

  <div class=" w-3/5 max-h-screen overflow-y-auto">
    <div class="p-4">
      <iframe
        class="aspect-video w-full"
        style="height: 80vh;"
        src=<%= @live_stream.url %>
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope;"
        allowfullscreen></iframe>
    </div>
    <div class="p-4">
      <h2>Products</h2>
      <%= turbo_frame_tag "live_stream_products", src: live_stream_products_path(@live_stream) do %>
        <%= render partial: "products/products_skeleton" %>
      <% end %>
    </div>
  </div>

  <%= render 'messages' %>
</main>